@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama'); 
body{
    font-family: "Inter", sans-serif;
    background: black;
    margin: 0 auto;
    max-width: 1440px;
}
/* Banner Design */
.banner{
    background: linear-gradient( #333333, #000000);
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 190px;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
    width: 520px;
    height: 282px;
    margin: 0;
    line-height: 0.7;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    width: 520px;
    height: 48px;
}
.banner-image{
    position: relative;
}
.card{
    color: white;
    background-color: red;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #E6533C;
    border-radius: 46px;
    border: none;
    padding: 16px 40px;
}
.btn1{
    font-size: 18px;
    font-weight: 600;
    border-radius: 46px;
    border: none;
}
.btn2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
    padding: 16px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
#banner-image-card1{
    width: 206px;
    height: 96px;
    position: absolute;
    bottom: 60%;
    left: 65%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54); 
}
#banner-image-card{
    width: 206px;
    height: 96px;
    position: absolute;
    bottom: 12%;
    left: -30%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.banner-image-card-info{
    text-align: start;
}
.banner-image-card-title{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}
.null{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    position: relative;
    transform: rotate(-90deg);
}
.null span{
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top:40%;
    left: 30%;
    display: none;
    
}
.banner-image-card-title1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;  
}
.banner-image-card-des{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
